/W6ExeStudent-ejb/build/
/W6ExeStudent-ejb/dist/
/W6ExeStudent-ejb/nbproject/private/
/W6ExeStudent-shared/build/
/W6ExeStudent-shared/dist/
/W6ExeStudent-shared/nbproject/private/
/W6ExeStudentBootstrap/build/
/W6ExeStudentBootstrap/dist/
/W6ExeStudentBootstrap/nbproject/private/